<!DOCTYPE html>
<html>
  <head>
    <title>Aligosa - Email marketing chỉ dùng cho môi giới bất động sản Việt Nam</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track': "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'shared/shim' %>
  </head>
  <%= yield %>
  <%= render 'shared/flash' %>
</html>